
.forum
{
position:absolute;
top:5;
left:200;
font-size:50px;
font-family:CF One Two Trees;
color:black;
}
.forum:hover
{
color:red;
}
#menu
{
position:absolute;
top:120;
left:250;
}
#sign
{
position:absolute;
top:40;
left:1000;
}

.desp
{
position:absolute;
top:85;
left:250;
font-size:22px;
font-family:Coneria_script;
}
#test
{
width:40em; 
word-wrap:break-word;
}
#img
{
position:fixed;
top:225;
left:250; 
}
#footer
{
background-color:#F4FDF4; 
}

